DJANGO_SECRET_KEY=aqui colocamos a nossa chave secreta
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
DB_NAME=sge_mandlakazi
DB_USER=sge_user
DB_PASSWORD=aqui colocamos a nossa password da Base de Dados
DB_HOST=127.0.0.1
DB_PORT=5432
